.well_tables {
    padding: 0px !important;
    text-align: inherit !important;
    border: 1px solid #c5c0c1 !important;
    
  
}

td {
        vertical-align: inherit !important;
    }
    
th {
    text-align: center !important;
}

.table-hover {
    background-color: #395697 !important; 
}

.table-hover tr:hover td {
 background-color: #0077DD;
 color:#fff;
}

