.well_tables {
    padding: 0px !important;
    text-align: inherit !important;
    -moz-box-shadow: 0px 0px 10px 0px olive;
    -webkit-box-shadow: 0px 0px 10px 0px olive;
    
  
}

td {
    vertical-align: inherit !important;
}
    
th {
    text-align: center !important;
}

.table-hover {
    background-color: #2e3a42 !important; 
}

.table-hover tr:hover td {
 background-color: #0077DD;
 color:#fff;
}

